{%extends "layout.html" %}
{% block body %}
  
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    <!-- Column for the feeds -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Feeds</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <a href="#">Top Questions</a><br>
          <a href="#">New Questions</a><br>
          <a href="#">Bookmarked Answers</a><br>
          <a href="#">Followed Catagory 1</a><br>
          <a href="#">Followed Catsgory 2</a><br>
          <a href="#">Followed Catagory 3</a><br>
        </div>
      </div>
      <br>
    </div>
    <!-- Main column for the questions, id's need to be added to each card div depending on how much we want to display-->
    <div class="col-4">
        <form class="input-group" action="{{ url_for('add_question') }}" method="post">
            <input type = "text" class = "form-control" name = "title" placeholder="Title">
            <input type="textarea" class="form-control" name="question" placeholder="What is your question">
            <input type="text" size="26" name="tags" placeholder="Add tags seperated by a comma">
            <span class="input-group-btn">
            <input type="submit" class="btn btn-secondary" value="Ask">
      </span>
        </form>
        <br>
        {% for row in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="#">{{ row.question.question }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ ", ".join(row.tags) }}</h6>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <!-- Column for the suggestions -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suggestions</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <div class="d-inline-flex align-items-center">
            <div class="user one"></div><a href="#" style="font-size:10px; padding-left:5px">Username1<br>19 Best Answers</small></a><br></div><br>
          <div class="d-inline-flex align-items-center">
            <div class="user one"></div><a href="#" style="font-size:10px; padding-left:5px">Username2<br>1 Best Answers</a><br></div><br>
          <div class="d-inline-flex align-items-center">
            <div class="user one"></div><a href="#" style="font-size:10px; padding-left:5px">Username3<br>12 Best Answers</a><br></div><br>
          <div class="d-inline-flex align-items-center">
            <div class="user one"></div><a href="#" style="font-size:10px; padding-left:5px">Username4<br>7 Best Answers</a><br></div><br>
        </div>
      </div>
      <br>
    </div>
    <div class="col-xs 0 col-sm-0 col-md-1 col-lg-2"></div>

  </div>
{% endblock %}
