<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quori</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>        
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            table {
                font-family: "Lucida Sans", Verdana, Arial, sans-serif;
                font-size: 1em;
                width: 100%;
                text-align: left;
            }   
            tbody {  
                background-color: #F1F1F1;
            }
            td, th {
                padding: 0.5em;
                width: 30%;
            }
            thead {
                background-color: #CACACA;
            }
            caption {
               font-size: 1.2em;
               font-weight: bold;
               background-color: #DCA806;
               padding: 0.5em;
            }
            tbody tr:nth-child(odd) {
                background-color: white;
            }
            
            .choicei {
                float: left;
                background-color: aqua;
                margin: 1em;
            }            
        </style>
    </head>
    <body>
        <nav class="container">
            <div class="imgcontainer">
                <div class="row">
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="T1">
                                <img alt="Quori" src="resources/quorilogo.png" width="40px" height="40px" >
                                <h3 class="panel-title"><span>Select your interest</span></h3>
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="panel-body" style="padding-left:1em">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Math</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">IT</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Cheese and Whine</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Food</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Music</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Web design</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Teaching</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Space</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Accounting</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Philosophy</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Myths</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Travel</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Machine Learning</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Anime</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Dragon Ball</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Sports</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Jokes</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Science</td>
                                        </tr>
                                        <tr>
                                            <td><input style="margin-right:1em" type="checkbox" name="1" value="Math">Hunting</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="2" value="IT">Games</td>
                                            <td><input type="checkbox" style="margin-right:1em" name="3" value="Cheese and Whine">Dancing</td>
                                        </tr>
                                    </tbody>
                                </table>   
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-1 col-md-1"></div>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                        <button type="button" class="btn btn-default" onclick="window.location.href='{{url_for('home')}}'">Submit</button>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-2"></div>
        </nav>
    </body>
</html>
