{%extends "usertemplate.html" %} {% block body %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <!-- ************************ Profile Pic *************************** -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="centerp">
                    <div class="pic one"></div>
                    <br><br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Suggested to follow</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <ul>
                                <li href="#">I want to be</li><br>
                                <li href="#">the very best</li><br>
                                <li href="#">like no one ever was</li><br>
                                <li href="#">to catch them</li><br>
                                <li href="#">is my real test</li><br>
                                <li href="#">to train them is my cause</li><br>
                                <li href="#">pokemon</li><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- %%%%%%%%%%%% Main column for the Bio%%%%%%%%%%%%%%%-->
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h2>Profile of 'John'</h2>
                <button type="button" class="spaceme btn btn-default">Follow</button>
                <div class="panel panel-default">
                    <div class="panel-heading" id="T1">
                        <h3 class="spaceme panel-title"><span>Bio</span></h3>
                    </div>
                    <div class="bio panel-body">
                        <div class="fits">Error loading bio...</div>
                    </div>
                </div>
            </div>
            <!--Space-->
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>
        </div>
{% endblock %}
