{%extends "usertemplate.html" %}
{% block body %}

        <!--####################### NON NAVBAR STUFF ########################-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <!-- ************************ Profile Pic *************************** -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="centerp">
                    <form action="/action_page.php">
                        <input type="file" name="pic" accept="image/*">
                        <input type="submit" class="spaceme btn btn-default" value="Upload pic">
                    </form>

                    <br>
                    <button onclick="myFunction()" class="spaceme btn btn-default">Change password</button>
                    
                    <div id="yeschange" display="none">
                        <br>
                        <label for="password"><b>Old Password</b></label><div class="loginlabel"></div>
                        <input type="password" placeholder="Old Password" id="password" name="password"><br><br>
                        <label for="password"><b>New Password</b></label><div class="loginlabel"></div>
                        <input type="password" placeholder="New Password" id="password2" name="npassword"><br><br>
                        <label for="password"><b>Retype</b></label><div class="loginlabel"></div>
                        <input type="password" placeholder="Retype Password" id="retypePassword2" name="retypePassword"><br><br>
                        <button type="submit" style="margin-bottom: 20px">Update password</button>
                    </div>
                </div>
            </div>
            <!-- %%%%%%%%%%%% Main column for the Bio%%%%%%%%%%%%%%%-->
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="panel panel-default">
                    <div class="panel-heading" id="T1">
                        <h3 class="spaceme panel-title"><span>Your Bio</span></h3>
                        <button type="button" class="spaceme btn btn-default">Update bio</button>
                        
                    </div>
                    <div class="bio panel-body">
                        <textarea class="fits"></textarea>
                    </div>
                </div>
            </div>    
            <!--Space-->
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>
        </div>
<script>
    function myFunction() {
        var x = document.getElementById("yeschange");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

{% endblock %}