{%extends "usertemplate.html" %} {% block body %}
<div class="row" style="padding-left:20px">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <h1>{{  title  }}</h1>
        <hr>
        <div class="card">
            <div class="card-body">
                <p style="word-wrap: break-word;" name="question">{{ htmlquestion.description }}</p>
                <hr>
            </div>
        </div>
        <br>
        <form action="{{url_for('submit_answer', title = htmlquestion.title)}}" method="post">
            <div class="panel panel-default" style="margin-left: 5%; margin-right: 5%;">
                <div class="panel-heading" id="T1" style=" height: 60px;">
                    <h5>Answer</h5>
                </div>
                <div class="panel-body" style="padding-left:1em">
                    <textarea name="message" style="height:100px; width:100%; resize: none;" placeholder="Type your answer..."></textarea>
                    <br><br>
                    <input type="submit" style="width: 100px; margin-top: 10px;" class="niceButts btn btn-default" value="Answer">
                </div>
            </div>
        </form>
        <hr>
        <br> {% for row in htmlanswers %}
        <div class="panel panel-default" style="margin-left: 5%; margin-right: 5%;">
            <div class="panel-heading" id="T1" style=" height: 60px;">
                <div class="user" style="background-image: url('../../static/profilepictures/{{row.pp}}');">
                </div>
                <a href="#" style="font-size:15px; padding-left:5px;">{{row.user}}
                </a>
                <br>
                <br>
                <br>
            </div>
            <div class="panel-body" style="padding-left:1em">
                <p style="word-wrap: break-word;">{{ row.title }}</p>
                <hr> UPVOTES: {{row.upvotes}}<br>
                <form action="{{url_for('upvote', answer = row.title, title = htmlquestion.title)}}">
                    <input type="submit" class="btn btn-success" value="UPVOTE"><br>
                </form>
                <form action="{{url_for('removeupvote', answer = row.title, title = htmlquestion.title)}}">
                    <input type="submit" class="btn btn-danger" value="REMOVE UPVOTE">
                </form>
            </div>
        </div>
        <br>
        <br> {% endfor %}
    </div>
    <!-- Column for the suggestions -->
    <div class="col-md-4">
        <div style="padding-top:35px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Related</h5>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <a href="#">Links</a><br>
                    <a href="#">Link</a><br>
                    <a href="#">Link</a><br>
                    <a href="#">Link</a><br>
                    <a href="#">Link</a><br>
                    <a href="#">Link</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
