{%extends "usertemplate.html" %} {% block body %}
<div class="row" style="padding-left:20px">
  <div class="col-md-2">
  </div>

  <div class="col-md-6">
    <h1>{{  title  }}</h1>
    <hr>
    <div class="card">
      <div class="card-body">
        <p name="question">{{ htmlquestion.description }}</p>
      </div>
    </div>
    <br>

    <form action="{{url_for('submit_answer', title = htmlquestion.title)}}" method="post">
      <h5>Answer</h5>
      <textarea name="message" style="height:100px; width:100%" placeholder="Type your answer..."></textarea>
      <br>
      <input type="submit" class="btn btn-secondary" value="Answer">
      <!--<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Post</button>-->
    </form>
    <br> {% for row in htmlanswers %}
    <span class="border border-warning rounded">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><div class="d-inline-flex align-items-center">
            <hr>
            <div class="user" style="background-image: url('../../static/profilepictures/{{row.pp}}');"></div><a href="#" style="font-size:10px; padding-left:5px">{{row.user}}<br></a><br></div><br></h5>
           <p>{{ row.title }}</p>
           UPVOTES: {{row.upvotes}}<br>
          <form action="{{url_for('upvote', answer = row.title, title = htmlquestion.title)}}">
            <input type="submit" class="btn btn-success" value="UPVOTE"><br>
          </form>
          <form action="{{url_for('removeupvote', answer = row.title, title = htmlquestion.title)}}">
            <input type="submit" class="btn btn-danger" value="REMOVE UPVOTE">
          </form>
          <hr>
        </div>
      </div>
    </span>
    <br> {% endfor %}

  </div>
  <!-- Column for the suggestions -->
  <div class="col-md-4">
    <div style="padding-top:35px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Related</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <a href="#">Links</a><br>
          <a href="#">Link</a><br>
          <a href="#">Link</a><br>
          <a href="#">Link</a><br>
          <a href="#">Link</a><br>
          <a href="#">Link</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
