{##}{% extends "usertemplate.html" %} {% block body %}
    {% for user in users %}
        <div class="bubble">
            <div class="panel panel-default" style="margin-left: 5%; margin-right: 5%;">
                <div class="panel-heading" style ="height:60px;" id="T1">
                    <a href={{ url_for('profile', name=user[0]['username']) }}>
                        <h3 style="margin-top:0px;">
                            <img class="user" style="margin-right:15px" src="../static/profilepictures/{{user[0]['pp']}}">
                            {{ user[0]['username'] }}
                        </h3>
                    </a>
                </div>
                <div class="panel-body" style="padding-left:1em">
                    <p style="word-wrap: break-word;">
                        {% if  user[0]['bio'] != None %}
                            {{ user[0]['bio'][:127] }}
                        {% else %}
                            No bio
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div style="padding-bottom: 3em;"></div>
{% endblock %}
