<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quori</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Inline style -->
        <style>
            body {
                padding-top: 70px;
            }
            
            .navbar-nav .navbar-brand{
                float: none;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
            
            .navbar-nav>li {
                display: inline-block;
                float: none;
            }
            
            .user {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            
            .one {
                background-image: url('http://placehold.it/400x200');
            }
            
            .two {
                background-image: url('http://placehold.it/200x200');
            }
            
            .three {
                background-image: url('http://placehold.it/200x400');
                }
            
            a:link {
                text-decoration: none;
                color: Grey;
            }
        </style>
    </head>
    <!-- Code for the navbar -->
    <body>
        <!-- The fixed top parameter makes the navbar stay at the top of the page when scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#" style="padding-left:25%">
                <img alt="Quori" src="resources/quorilogo.png" width="40px" height="40px" >
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" onclick="window.location.href='{{url_for('home')}}'">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Answers</a>
                        
                    <li style="padding-left:15px">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <!--<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>-->
                            <button type="button" class="btn btn-default" onclick="window.location.href='{{url_for('searchpage')}}'">Search</button>
                        </form>
                    </li>
                    <li style="padding-left:10px">
                        <div class="user one" onclick="window.location.href='{{url_for('profilepage')}}'"></div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-1"></div>
            <!-- Column for the feeds -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">By Type</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <a href="#">All Types</a><br>
                        <a href="#">Questions</a><br>
                        <a href="#">Answers</a><br>
                        <a href="#">Posts</a><br>
                        <a href="#">Profiles</a><br>
                        <a href="#">Topics</a><br>
                        <a href="#">Bogs</a><br>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">By Topics</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <a href="#">All Topics</a><br>
                        <a href="#">Topics You Follow</a><br>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">By Author</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <a href="#">All People</a><br>
                        <a href="#">People You Follow</a><br>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">By Time</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <a href="#">All Time</a><br>
                        <a href="#">Past Hour</a><br>
                        <a href="#">Past Day</a><br>
                        <a href="#">Past Week</a><br>
                        <a href="#">Past Month</a><br>
                        <a href="#">Past Year</a><br>
                    </div>
                </div>
                <br>
            </div>
            <!-- Main column for the questions, id's need to be added to each card div depending on how much we want to display-->
            <div class="col-7">
                <div class="input-group" id="card1">
                    <h4>Results for 'word'</h4><hr>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body. Contents of these blocks change according to choices chosen on left.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <br>
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Question Title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-1">
            </div>
        </div>
    </body> 
</html>
